@media (max-width: 1024px) {
    #statement {
        padding: 16px;
        gap: 18px;
    }

    #text-box {
        padding: 30px 35px;
    }
}

@media (max-width: 768px) {     /* 平板 & 小筆電 */

    body {
        flex-direction: column;
    }

    #text-box {
        flex: none;               /* 取消 flex 比例 */
        width: 100%;
    }

    #dashboard {
        flex: none;
        width: 100%;
    }

    .title {
        font-size: 2rem;
    }

    #caption {
        font-size: 2.3rem;
    }

    .box {
        font-size: 0.95rem;
    }
}

@media (max-width: 480px) {  /* 小手機 */
    body {
        flex-direction: column;
    }

    .text {
        flex: none; /* 取消 flex 比例 */
        width: 100%;
    }

    #dashboard {
        flex: none;
        width: 100%;
    }

    .title {
        font-size: 2.3rem;
    }

    #caption {
        font-size: 1.8rem;
    }
}